<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SvgMapper">

	<!-- 사용처 항목 조회 -->
	<select id="selectCategoryList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			USERID
		  , CATEGORYID
		  , USAGENM
		  , CATEGORYNM
		  , CATEGORYDETAILNM
		  , CLASSIFICATION
		  FROM ACC_CATEGORY
		 WHERE USERID = #{USERID}
		 <if test="searchValue != null and searchValue != ''">
		 	<if test="searchKey == 'usageNm'">
		 		AND USAGENM LIKE CONCAT('%', #{searchValue}, '%')
		 	</if>
		 	<if test="searchKey == 'categoryNm'">
		 		AND CATEGORYNM LIKE CONCAT('%', #{searchValue}, '%')
		 	</if>
		 	<if test="searchKey == 'categoryDetailNm'">
		 		AND CATEGORYDETAILNM LIKE CONCAT('%', #{searchValue}, '%')
		 	</if>
		 </if>
		 ORDER BY REGDATE DESC
	</select>
	
	<!-- 사용처 항목 추가 -->
	<insert id="insertCategory" parameterType="java.util.Map">
		<selectKey keyProperty="CATEGORYID" resultType="long" order="BEFORE">
	        SELECT COALESCE(MAX(CATEGORYID), 0) + 1 FROM ACC_CATEGORY WHERE USERID = #{USERID}
	    </selectKey>
	
		INSERT INTO ACC_CATEGORY (
			USERID
		  , CATEGORYID
		  , USAGENM
		  , CATEGORYNM
		  , CATEGORYDETAILNM
		  , CLASSIFICATION
		  , REGID
		  , REGDATE
		  , MODID
		  , MODDATE
		) VALUES (
			#{USERID}
		  , #{CATEGORYID}
		  , #{USAGENM}
		  , #{CATEGORYNM}
		  , #{CATEGORYDETAILNM}
		  , #{CLASSIFICATION}
		  , #{REGID}
		  , NOW()
		  , null
		  , null
		)
	</insert>
	
	<!-- 사용처 항목 수정 -->
	<update id="updateCategory" parameterType="java.util.Map">
		UPDATE ACC_CATEGORY
		   SET USAGENM = #{USAGENM}
    		 , CATEGORYNM = #{CATEGORYNM}
             , CATEGORYDETAILNM = #{CATEGORYDETAILNM}
             , CLASSIFICATION = #{CLASSIFICATION}
             , MODID = #{USERID}
             , MODDATE = NOW()
         WHERE USERID = #{USERID}
           AND CATEGORYID = #{CATEGORYID}
	</update>
	
	<!-- 사용처 항목 전체 삭제(사용자별) -->
	<delete id="deleteCategoryAll" parameterType="java.util.Map">
		DELETE FROM ACC_CATEGORY
		 WHERE USERID = #{USERID}
	</delete>
	
	<!-- 선택 사용처 항목 삭제 -->
	<delete id="deleteCategory" parameterType="java.util.Map">
		DELETE FROM ACC_CATEGORY
		 WHERE USERID = #{USERID}
		   AND CATEGORYID = #{CATEGORYID}
	</delete>
	
	<!-- 계좌 조회 -->
	<select id="selectAccountListPaging" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			ROW_NUMBER() OVER (ORDER BY BANKNM, ACCOUNTNUM) AS ROWNUM
		  , USERID
		  , ACCOUNTID
		  , BANKNM
		  , ACCOUNTNUM
		  , INITMONEY
		  FROM ACC_ACCOUNT
		 WHERE USERID = #{USERID}
		 <if test="searchValue != null and searchValue != ''">
		 	<if test="searchKey == 'bankNm'">
		 		AND BANKNM LIKE CONCAT('%', #{searchValue}, '%')
		 	</if>
		 	<if test="searchKey == 'accountNum'">
		 		AND ACCOUNTNUM LIKE CONCAT('%', #{searchValue}, '%')
		 	</if>
		 </if>
		 ORDER BY BANKNM, ACCOUNTNUM
		 LIMIT #{offset}, #{limit}
	</select>
	
	<!-- 계좌 조회 -->
	<select id="selectAccountList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			ROW_NUMBER() OVER (ORDER BY BANKNM, ACCOUNTNUM) AS ROWNUM
		  , USERID
		  , ACCOUNTID
		  , BANKNM
		  , ACCOUNTNUM
		  , INITMONEY
		  FROM ACC_ACCOUNT
		 WHERE USERID = #{USERID}
		 <if test="searchValue != null and searchValue != ''">
		 	<if test="searchKey == 'bankNm'">
		 		AND BANKNM LIKE CONCAT('%', #{searchValue}, '%')
		 	</if>
		 	<if test="searchKey == 'accountNum'">
		 		AND ACCOUNTNUM LIKE CONCAT('%', #{searchValue}, '%')
		 	</if>
		 </if>
		 ORDER BY BANKNM, ACCOUNTNUM
	</select>
	
	<!-- 계좌 개수 조회 -->
	<select id="selectAccountCnt" parameterType="java.util.Map" resultType="int">
		SELECT
			COUNT(*) AS CNT
		  FROM ACC_ACCOUNT
		 WHERE USERID = #{USERID}
		 <if test="searchValue != null and searchValue != ''">
		 	<if test="searchKey == 'bankNm'">
		 		AND BANKNM LIKE CONCAT('%', #{searchValue}, '%')
		 	</if>
		 	<if test="searchKey == 'accountNum'">
		 		AND ACCOUNTNUM LIKE CONCAT('%', #{searchValue}, '%')
		 	</if>
		 </if>
	</select>
	
	<!-- 계좌 추가 -->
	<insert id="insertAccount" parameterType="java.util.Map">
		<selectKey keyProperty="ACCOUNTID" resultType="long" order="BEFORE">
	        SELECT COALESCE(MAX(ACCOUNTID), 0) + 1 FROM ACC_ACCOUNT WHERE USERID = #{USERID}
	    </selectKey>
		INSERT INTO ACC_ACCOUNT (
		    USERID
		  , ACCOUNTID
		  , BANKNM
		  , ACCOUNTNUM
		  , INITMONEY
		  , REGID
		  , REGDATE
		) VALUES (
			#{USERID}
		  , #{ACCOUNTID}
		  , #{BANKNM}
		  , #{ACCOUNTNUM}
		  , #{INITMONEY}
		  , #{REGID}
		  , NOW()
		)
	</insert>
	
	<!-- 계좌 수정 -->
	<update id="updateAccount" parameterType="java.util.Map">
		UPDATE ACC_ACCOUNT
		   SET BANKNM = #{BANKNM}
		     , ACCOUNTNUM = #{ACCOUNTNUM}
			 , MODID = #{USERID}
             , MODDATE = NOW()
         WHERE USERID = #{USERID}
           AND ACCOUNTID = #{ACCOUNTID}
	</update>
	
	<!-- 계좌 삭제 -->
	<delete id="deleteAccount" parameterType="java.util.Map">
		DELETE FROM ACC_ACCOUNT
		 WHERE USERID = #{USERID}
		   AND ACCOUNTID = #{ACCOUNTID}
	</delete>
	
	<!-- 적금 등록 -->
	<insert id="insertSavings" parameterType="java.util.Map">
		<selectKey keyProperty="SAVINGSID" resultType="long" order="BEFORE">
	        SELECT COALESCE(MAX(SAVINGSID), 0) + 1 FROM ACC_SAVINGS WHERE USERID = #{USERID}
	    </selectKey>
		INSERT INTO ACC_SAVINGS (
			SAVINGSID
		  , USERID
		  , SAVINGNM
		  , JOINDATE
		  , PAYMENTAMOUNT
		  , INTERESTRATE
		  , EXPIRATIONDATE
		  , STATUS
		  , BANKNAME
		  , MEMO
		  , REGID
		  , REGDATE
		)
		VALUES (
			#{SAVINGSID}
		  , #{USERID}
		  , #{SAVINGNM}
		  , #{JOINDATE}
		  , #{PAYMENTAMOUNT}
		  , #{INTERESTRATE}
		  , #{EXPIRATIONDATE}
		  , 'A'
		  , #{BANKNAME}
		  , #{MEMO}
		  , #{USERID}
		  , NOW()
		)
	</insert>

	<!-- 적금 목록 조회 -->
	<select id="selectSavingsList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			s.SAVINGSID
		  , s.USERID
		  , s.SAVINGNM
		  , DATE_FORMAT(s.JOINDATE, '%Y.%m.%d')       AS JOINDATE
		  , s.PAYMENTAMOUNT
		  , s.INTERESTRATE
		  , DATE_FORMAT(s.EXPIRATIONDATE, '%Y.%m.%d') AS EXPIRATIONDATE
		  , s.STATUS
		  , s.BANKNAME
		  , s.MEMO
		  , (
		  	 SELECT COUNT(*) 
		  	   FROM ACC_SAVINGS_HISTORY h
			  WHERE h.SAVINGSID = s.SAVINGSID
				AND h.TYPE = 'R'
		  ) AS TOTAL_MONTHS  /* 납입기간 총 달 수*/
		  , (
		  	 SELECT COUNT(*) 
		  	   FROM ACC_SAVINGS_HISTORY h
         	  WHERE h.SAVINGSID = s.SAVINGSID
         	 	AND h.TYPE = 'R' 
         	 	AND h.IS_PAID = 'Y'
          ) AS PAID_MONTHS  /* 납입완료 달 수 */
          , (
          	 SELECT COALESCE(SUM(h.PAYAMOUNT), 0) 
          	   FROM ACC_SAVINGS_HISTORY h
			  WHERE h.SAVINGSID = s.SAVINGSID
				AND h.IS_PAID = 'Y'
          ) AS TOTAL_PAID_AMOUNT
		  , s.REGID
		  , s.REGDATE
		  FROM ACC_SAVINGS s
		 WHERE s.USERID = #{USERID}
		 ORDER BY s.REGDATE DESC
	</select>
	
	<!-- 적금 등록할 때 한번에 만기까지 전부 미리 생성 -->
	<insert id="insertSavingsHistoryBatch" parameterType="java.util.Map">
		<selectKey keyProperty="HISTORYID" resultType="long" order="BEFORE">
	        SELECT COALESCE(MAX(HISTORYID), 0) + 1 FROM ACC_SAVINGS_HISTORY WHERE USERID = #{USERID} AND SAVINGSID = #{SAVINGSID}
	    </selectKey>
		INSERT INTO ACC_SAVINGS_HISTORY (
			HISTORYID
		  , SAVINGSID
		  , USERID
		  , PAYAMOUNT
		  , TYPE
		  , IS_PAID
		  , PAYMONTH
		  , REGID
		  , REGDATE
		) VALUES (
			#{HISTORYID}
		  , #{SAVINGSID}
		  , #{USERID}
		  , #{PAYAMOUNT}
		  , 'R' /* 정기납입 */
		  , 'N'
		  , #{PAYMONTH}
		  , #{USERID}
		  , NOW()
		)
	</insert>
	
	<!-- 적금 삭제 -->
	<delete id="deleteSavings" parameterType="java.util.Map">
		DELETE FROM ACC_SAVINGS
		      WHERE USERID = #{USERID}
		        AND SAVINGSID = #{SAVINGSID}
	</delete>
	
	<!-- 적금 상세 내역 삭제 -->
	<delete id="deleteSavingsDetail" parameterType="java.util.Map">
		DELETE FROM ACC_SAVINGS_HISTORY
		      WHERE USERID = #{USERID}
		        AND SAVINGSID = #{SAVINGSID}
	</delete>
	
	<!-- 선택된 적금 정보 -->
	<select id="selectSavingsOne" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			s.SAVINGSID
		  , s.USERID
		  , s.SAVINGNM
		  , DATE_FORMAT(s.JOINDATE, '%Y.%m.%d')       AS JOINDATE
		  , s.PAYMENTAMOUNT
		  , s.INTERESTRATE
		  , DATE_FORMAT(s.EXPIRATIONDATE, '%Y.%m.%d') AS EXPIRATIONDATE
		  , s.STATUS
		  , s.BANKNAME
		  , s.MEMO
		  , (
		  	 SELECT COUNT(*) 
		  	   FROM ACC_SAVINGS_HISTORY h
			  WHERE h.SAVINGSID = s.SAVINGSID
				AND h.TYPE = 'R'
		  ) AS TOTAL_MONTHS  /* 납입기간 총 달 수*/
		  , (
		  	 SELECT COUNT(*) 
		  	   FROM ACC_SAVINGS_HISTORY h
         	  WHERE h.SAVINGSID = s.SAVINGSID
         	 	AND h.TYPE = 'R' 
         	 	AND h.IS_PAID = 'Y'
          ) AS PAID_MONTHS  /* 납입완료 달 수 */
          , (
          	 SELECT COALESCE(SUM(h.PAYAMOUNT), 0) 
          	   FROM ACC_SAVINGS_HISTORY h
			  WHERE h.SAVINGSID = s.SAVINGSID
				AND h.IS_PAID = 'Y'
          ) AS TOTAL_PAID_AMOUNT
		  , s.REGID
		  , s.REGDATE
		  FROM ACC_SAVINGS s
		 WHERE s.USERID = #{USERID}
		   AND s.SAVINGSID= #{SAVINGSID}
	</select>
	
	<!-- 적금 납입내역 -->
	<select id="selectSavingsDetail" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			HISTORYID
		  , SAVINGSID
		  , USERID
		  , PAYDATE
		  , PAYAMOUNT
		  , TYPE
		  , IS_PAID
		  , PAYMONTH
		  , MEMO
		  , CASE WHEN PAYMONTH &lt;= DATE_FORMAT(NOW(), '%Y-%m') THEN 'Y' ELSE 'N' END AS IS_CURRENT
		  FROM ACC_SAVINGS_HISTORY
		 WHERE USERID = #{USERID}
		   AND SAVINGSID = #{SAVINGSID}
		  <if test="TYPE != null and TYPE != ''">
	       AND TYPE = #{TYPE}
	      </if>
	  ORDER BY PAYMONTH ASC
	</select>
	
	<!-- 납입처리 -->
	<update id="updateIsPaid" parameterType="java.util.Map">
		UPDATE ACC_SAVINGS_HISTORY
		   SET IS_PAID = CASE WHEN IS_PAID = 'Y' THEN 'N' ELSE 'Y' END
             , PAYDATE = CASE WHEN IS_PAID = 'Y' THEN NOW() ELSE NULL END
		 WHERE USERID = #{USERID}
		   AND SAVINGSID = #{SAVINGSID}
		   AND HISTORYID = #{HISTORYID}
	</update>
	
	<!-- 추가 납입 시 사용 -->
	<insert id="insertAddSavingsHistory" parameterType="java.util.Map">
		<selectKey keyProperty="HISTORYID" resultType="long" order="BEFORE">
	        SELECT COALESCE(MAX(HISTORYID), 0) + 1 FROM ACC_SAVINGS_HISTORY WHERE USERID = #{USERID} AND SAVINGSID = #{SAVINGSID}
	    </selectKey>
		INSERT INTO ACC_SAVINGS_HISTORY (
			HISTORYID
		  , SAVINGSID
		  , USERID
		  , PAYDATE
		  , PAYAMOUNT
		  , TYPE
		  , IS_PAID
		  , PAYMONTH
		  , MEMO
		  , REGID
		  , REGDATE
		) VALUES (
			#{HISTORYID}
		  , #{SAVINGSID}
		  , #{USERID}
		  , #{PAYDATE}
		  , #{PAYAMOUNT}
		  , 'A'
		  , 'Y'
		  , LEFT(#{PAYDATE}, 7)
		  , #{MEMO}
		  , #{USERID}
		  , NOW()
		)
	</insert>
	
	<!-- 추가 납입 삭제 시 사용 -->
	<delete id="deleteAddSavingsDetail" parameterType="java.util.Map">
		DELETE FROM ACC_SAVINGS_HISTORY
		      WHERE USERID = #{USERID}
		        AND SAVINGSID = #{SAVINGSID}
		        AND HISTORYID = #{HISTORYID}
	</delete>
	
	<!-- 적금 만기시 실행 -->
	<update id="updateExpiredSavings" parameterType="java.util.Map">
	    UPDATE ACC_SAVINGS
	       SET STATUS = 'D'
	     WHERE USERID = #{USERID}
	       AND STATUS = 'A'
	       AND EXPIRATIONDATE &lt; NOW()
	</update>
	
</mapper>